.pi.icon-menu{
    front-size: 1.5rem;
    width: 25px;
    height: 25px;
}

.logo-p{
    width: 60px;
    margin-right: 10px;
}

.fondo-c{
    background-color: rgba(0,0,0, .1);
    border: solid rgba(0,0,0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.color-principal{
    background-color: #712cf9;
}

.text-active{
    color: #ffc107 !important;
}

#busqueda_h .ui-inputtext{
    width: 400px;
}

.contenedor-btn{
    width: 400px;
}

#crear_hotel_f .ui-inputfield.ui-widget, #crear_hotel_f .ui-selectonemenu.ui-widget{
    width: 400px;
}

.imagen-hotel{
    width: 100%;
}
body .ui-dataview .ui-dataview-content{
    background: none;
}

.item-ciudad{
    text-align: center;
}